In [4]:
a=input("my name is:")
b=input("my age is:")
print("my name is:" ,a)
print("my age is:" ,b)

my name is: kee
my age is: 4

get input for variable name and age ,address print it

In [6]:
a=input("name")
b=input("age")
c=input("address")
print("my name is :",a)
print("my age is:",b)
print("my address is:",c)

my name is : kee
my age is: 21
my address is: kangeyam

get integer input for variable a,b,c
multiply all 3 varibale(a*b*c)
and add all 3 variable(a+b+c)
divide the multiplied vale by added vale  print it

In [8]:
a=int(input("a"))
b=int(input("b"))
c=int(input("c"))
d=(a*b*c)
e=(a+b+c)
f=(d/e)
print(f)

2.6666666666666665

get input for variable name,score,department
get score for 100
divide 100/10

In [10]:
name=input()
score=int(input())
dep=input()
print("my name  is:",name)
print("my score is:",score/10,"/10")
print("my dep is :",dep)

my name  is: kee
my score is: 7.5 /10
my dep is : computer

if else

In [13]:
meghna= input("meghna died or not")
if (meghna=="died"):
    print("surya meets piya")
else:
    print("surya weds meghna")

surya meets piya

get input for variable mark if mark>35 print pass, else fail

In [17]:
mark=int(input("enter your mark:"))
if mark>35:
    print("pass")
else:
    print("fail")

fail

get input for variable income .if income is greater than 7000 scholarship is available .else not elligible for scholarship

In [19]:
income=int(input("enter your salary:"))
if income>7000:
    print("scholarship is available")
else:
    print("not eligible for scholarship")

scholarship is available

get input for a number and check if divisble by both 3 and 5 or not

In [21]:
a=int(input())
if (a%5==0 and a%3==0):
    print("a is divisble by 3 and 5")
else:
    print("not divisble by 3 and 5")

not divisble by 3 and 5

get input for a number and find its even or odd

In [22]:
a=int(input("enter a number:"))
if (a%2==0):
    print("the number is even")
else:
    print("the number is odd")

the number is odd

get input of score out of 100
if score is <35="poor student
if score is greater than 35 but <than 70="average student
if greater than 70= "good student"

In [25]:
score=int(input("marks:"))
if score <35:
    print("poor student")
elif (score>35 and score<70):
    print("average student")
else :  
    print("good student")

average student

mini calc
get 2 input from user wheather to add/sub/mul/div
if user selects add thn add 2 num  and print the result

In [28]:
a=int(input("a"))
b=int(input("b"))
operation=input("add/sub/mul/div")
if (operation=="add"):
    print(a+b)
elif (operation=="sub"):
    print(a-b)
elif (operation=="mul"):
    print(a*b)
elif (operation=="div"):
    print(a/b)
else:
    print("invalid opp")

20

get score percentage ,percentage is greater than 70,get input his name,dep add,loc .then print you are elligible if not print you are not eligible

In [29]:
score=int(input("score percentage"))
if (score>=70):
    name=input("enter your name")
    dep=input("enter your dep")
    add=input("enter address")
    print("you are eligible")
else:
    print("you are not eligible")

you are eligible

get input for salary and  age
if salary greater than  or equal to 20000 or age less thn or equal to 25,get input req loan amout
if not print you are not aligible
if required loan amount is less than or equal to 50000 print yor are eligible for loan if it is greater than 50000  print max loan amount is 50000

In [3]:
salary=int(input("salary:"))
age=int(input("age"))
if (salary >=20000 or age<=25):
    loan = int(input("enter your loan amount"))
    if (loan>=50000):
        print("max loan amount is 50000")
    else:
        print("yu are eligible for loan")
else:
   print("you are not eligiblle")

max loan amount is 50000

get  5 sub marks ,add all of it ,and find average ,if avg mark is less than 35 print add claass is req else .print "you are god to go"

In [6]:
tam=int(input("mark 1"))
eng=int(input("mark 2"))
maths=int(input("mark 3"))
sci=int(input("mark4"))
soc=int(input("mark5"))
total=int(tam+eng+maths+sci+soc)
avg=total/5
if (avg <35):
    print("add class is req")
else:
    print("yor arre good to go")

add class is req

In [17]:
n=int(input("enter number"))
if(n%2==0):
    if (n>=2 and n<=5):
        print("not weird")
    elif (n>=6 and n<=20):
        print("weird")
    elif (n>20):
        print("not weird")
else:
    print("weird")

weird

In [2]:
for i in ("apple"):
    print(i)

a
p
p
l
e

2 table using for loop

In [4]:
for i in range(1,11):
    print(i,"x2=",i*2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

In [5]:
for i in range(1,11):
    print(i,"x3=",i*3)

1 x3= 3
2 x3= 6
3 x3= 9
4 x3= 12
5 x3= 15
6 x3= 18
7 x3= 21
8 x3= 24
9 x3= 27
10 x3= 30

In [8]:
a=int(input())
b=int(input())
for i in range(a+1,b):
    print(i)

9
10
11
12
13
14

print even number btwn 1 to 10

In [15]:
for i in range(2,11,2):
    print(i)
     or
    

for i in range(1,10):
   if(i%2==0):
      print(i)

IndentationError: unexpected indent (624606105.py, line 3)

In [18]:
count=0
for i in range(1,11):
    if(i%2==0):
        count=count+1
print(count)

5

In [21]:
odd_count=0
even_count=0
for i in range(1,11):
    if(i%2==0):
        even_count=even_count+1
    else:
        odd_count=odd_count+1
print(odd_count)
print(even_count)

5
5

In [23]:
count=0
for i in range(1,101):
    if (i%3==0 and i%5==0):
        count=count+1
print(count)

6

write program to compute the sum of the first 5 natural numbers

In [25]:
a=1+2+3+4+5
print(a)

15

In [24]:
sum=0
for i in range(1,6):
    sum=sum+i
print(sum)

15

In [32]:
a=[]
print("enter 10 numbers")
for i in range(10):
    num=int(input("enter num"+str(i+1)))
    a.append(num)
print(a)
sum=0
for i in (a):
    sum=sum+i
print(sum)
for i in a:
    avg=i/10
print(avg)

enter 10 numbers
[1, 2, 3, 4, 5, 6, 7, 8, 9, 1]
46
0.1

In [33]:
sum=0
for i in range(1,8):
    sum=sum+1
print(sum)

7

nested for loop

In [36]:
for i in range(1,3):
    print("week :",i)
    for j in range(1,4):
        print("days",j)

week : 1
days 1
days 2
days 3
week : 2
days 1
days 2
days 3

In [49]:
for i in range(1,5):
    print()
    for j in range(1,i+1):
       print(j,end="")

1
12
123
1234

cube numbers of range 5

In [1]:
for i in range(1,6):
    print(i*i*i)

1
8
27
64
125

while loop
print a number from 1 to 5 using whiile loop

In [2]:
i=1
while(i<=5):
    print(i)
    i=i+1

1
2
3
4
5

print following eries 
10,20,30,40,50,60,70,....200

In [5]:
i=10
while(i<=200):
    print(i,end=",")
    i=i+10

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,

In [8]:
i=10
while (i>0):
    print(i,end=",")
    i=i-1

10,9,8,7,6,5,4,3,2,1,

In [9]:
i=5
fact=1
while(i>0):
    fact=fact*i
    i=i-1
print(fact)

120

       FUNCTIONS

In [2]:
def Add():
    a=int(input("num1"))
    b=int(input("num2"))
    print(a+b)

Add()

30